@charset "utf-8";

h1, h2, h3, h4, h5, p, a, th, td{
    font-family: Arial, sans-serif;
}

body {
    margin: 2%;
    background-color: #f8f8e1;
    color: #000066;
}

h1{
    color: white;
    background-color: #3535a3;
    padding: 1% 2%;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    padding: 1%;
    background-color: #dddf84;
}

div {
    border-style: solid;
    border-width: 3px;
    border-color:#02006d;
    color: white;
    background-color: #3535a3;
    width: 50%;
    margin: 2%;
    padding: 1% 2%;
}

#Left {
    display: flex;
}

#Right {
    display: flex;
    width: 70%;
}

table{
    width: 100%;
}

td, th {
	text-align: center;
	/* Pad the rows and columns separately. Padding the entire table will make the table border larger as well */
	padding: 1%;
	border: 3px solid #02006d;
  	color: black;
    background-color: #dddf84;
}

.table_extra{
    text-align: left;
    background-color: #dddf84;
    padding: 1%;
}


a:link{
    text-decoration: none;
    color: blue;
}
a:visited{
    text-decoration: none;
    color: green;
}
a:hover{
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}


footer{
    color: white;
    background-color: #3535a3;
    padding: 1% 2%;
    margin-top: 3%;
}

#uni_link{
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color:#02006d;
    padding: 1% 2%;
    width: fit-content;
}


#name_display{
    height: fit-content;
    width: fit-content;
}

#name_display_button{
    width: 100%;
    height: 100%;
    background-color: #f8f8f0;
    font-family: Arial, sans-serif;
    
}


nav{
    width: fit-content;
    overflow: hidden;
    background-color: #3535a3;
}

.nav div{
    border: none;
    margin: 0;
    width: fit-content;
}

.nav a {
    font-size: 18px;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #3535a3;
}



.nav a.active{
    background-color: #dddf84;
    color: #000066;
    font-weight: bold;
}



.dropdown{
    float: left;
    padding: 0;
}

.dropbtn{
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;

}



.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    padding: 0;
    background-color: #dddf84;
}

.dropdown-content a{
    float: none;
    padding: 10px 21.5px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
    width: auto;
    background-color: #dddf84;
    color: #02006d;
}

.dropdown-content a:hover{
    background-color: #cbcc78;
}

.show{
    display: block;
}


#profile_pic{
    display: block;
    padding: 5%;
    cursor: pointer;
    background-image: url(./public_html/IMG_0246.jpg);
    background-size: cover;
    border-style: solid;
    border-width: 3px;
    border-color:#02006d;
    margin: 2%;
    transition: 1s;
}

.enlarge{
    padding: 20%;
}


form *{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
    font-size: normal;
    
}
