div{
    background-color: #1b3361;
    width: 95%;
    padding: 1% 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1, h2, h3{
    color: rgb(235, 235, 235);
}

p{
    color: rgb(206, 227, 255);
}


.video_player {
    border-style: none;
    width: fit-content;
    height: fit-content;
    padding: 2%;
}


button{
    background-color: #a7d5fc;
    border-style: groove;
    border-color: #a7d5fc;
    padding: 1%;
}

button:hover{
    background-color: rgb(188, 224, 255);
    cursor: pointer;

}

#buttonSmall{
    font-size: 0.5em;
}
#buttonLarge{
    font-size: 1em;

}

.accessibility{
    width: fit-content;
    display: flex;
}

.line{
    width: 10px;

}

img{
    align-items: start;
    height: auto;
    max-width: 100%;
}